<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; script-src 'self';"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <script defer src="../ui/renderer.js"></script>
    <link rel="stylesheet" href="styling.css" />
    <title>Library Manager</title>
  </head>
  <body class="standard-body-layout">
    <div class="header-wrapper">
      <h1>Library Management Software</h1>
      <p id="versionInfo"></p>
    </div>
    <img src="../images/book-image.png" alt="Book Logo" id="bookImage">
    <div class="vertical-button-wrapper">
      <button id="studentAccessButton" class="standard-button" type="button">Student Access</button>
      <button id="librarianAccessButton" class="standard-button" type="button">Librarian Access</button>
    </div>
  </body>
</html>
